<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Eclipse Brewing Company</title>
</head>
<body>
<h1 th:utext="#{welcome.message}"></h1>
<p>
    <!--/*@thymesVar id="customBeer" type="java.lang.String"*/-->
    <strong th:utext="${customBeer}"></strong>
</p>
<form method="post" action="/beers/hello">
    <label><span th:utext="#{choose.custom.beer}"></span>
        <input type="text" name="customBeer">
    </label>
</form>
</body>
</html>